.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  position: sticky;
  top: 0;
  z-index: 1;

  .left {
    display: flex;
    align-items: center;
    gap: 20px;

    span {
      font-weight: bold;
      color: var(--logo-color);
      font-size: 1.15rem;
    }
    .search {
      display: flex;
      align-items: center;  
      gap: 10px;
      border: 1px solid var(--border-color);
      border-radius: 5px;
      padding: 5px;
      input {
        border: none;
        width: 300px;
        background-color: transparent;
        color: var(--text-color);

        @media screen and (max-width: 960px) {
          width: 200px;
        }

        @media screen and (max-width: 480px) {
          display: none;
        }
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    gap: 20px;

    @media screen and (max-width: 480px) {
      display: none;
    }

    .user {
      display: flex;
      align-items: center;
      gap: 7px;
      font-weight: bold;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
      span {
        
        @media screen and (max-width: 960px) {
          display: none;
        }
      }
    }
  }
}