.post {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 15px;
  background-color: var(--bg-color);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user {
      height: 100%;
      display: grid;
      column-gap: 15px;
      row-gap: 8px;
      grid-template-columns: 30px 120px;
      grid-template-rows: repeat(2, 15px);
      img {
        height: 30px;
        width: 30px;
        object-fit: cover;
        border-radius: 50%;
        grid-row: 1 / span 2;
      }
      span {
        white-space: nowrap;
      }
      .name {
        color: var(--text-color);
      }
      .date {
        color: var(--text-color-soft);
        opacity: 0.8;
        font-size: 0.9rem;
      }
    }
    .btn {
      color: var(--text-color);
    }
  }
  .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    p {
      color: var(--text-color);
    }
    img {
      flex-grow: 1;
      width: 100%;
      max-height: 350px;
      object-fit: cover;
    }
  }
  .footer {
    display: flex;
    column-gap: 15px;

    .btn {
      display: flex;
      column-gap: 5px;
      align-items: center;
      background-color: transparent;
      border: none;
      color: var(--text-color-soft);
    }
  }
}